<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/images/logo.png"/>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="static/css/owl.carousel.css" rel="stylesheet">
    <link href="static/css/owl.theme.default.min.css" rel="stylesheet">

    <link href="static/css/magnific-popup.css" rel="stylesheet">

    <link href="static/css/style.css" rel="stylesheet">
</head>

<body>
<section id="about" class="about section">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title">Mission</h2>
                <p>
                    Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club
                    met zich meebrengt. Onze enige missie is dat jij de best geklede man van de omgeving bent. Laat
                    gratis een op eden box samenstellen door je personal shopper en betaal.
                </p>
                <img src="static/images/signature.png">
                <span>Vira Studio-ceo</span>
            </div>
        </div>
    </div>
</section>
<!-- <section class="purpose section">
    <div class="container">
        <h2 class="title">What we do</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="vira-card">
                    <div class="vira-card-header">
                        <div class="card-icon">
                            <span class="fa fa-diamond" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="vira-card-content">
                        <h3>Digital Design</h3>
                        <p>
                            Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The
                            Garment Club met zichlaim meebrengt. Onze enige missiede
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="vira-card">
                    <div class="vira-card-header">
                        <div class="card-icon">
                            <span class="fa fa-cogs" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="vira-card-content">
                        <h3>Web Development</h3>
                        <p>
                            Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The
                            Garment Club met zichlaim meebrengt. Onze enige missiede
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="vira-card">
                    <div class="vira-card-header">
                        <div class="card-icon">
                            <span class="fa fa-bicycle" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="vira-card-content">
                        <h3>Digital Marketing</h3>
                        <p>
                            Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The
                            Garment Club met zichlaim meebrengt. Onze enige missiede
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<div class="ab_about"
     style="display: flex; justify-content:center;align-items:center; padding:50px;flex-direction:column;">
    <h2 class="title">Our workstations</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum excepturi perferendis ab dolore repellendus
        consequuntur quaerat voluptates fugiat, nobis amet voluptatibus aliquid tempora autem odit eius blanditiis
        nesciunt, pariatur quam.
        Nobis perspiciatis modi soluta id est explicabo quas eveniet quam odit, rerum consequuntur sequi ab itaque
        iure corporis qui, aliquam, earum recusandae. Ea explicabo veniam minus cumque. Sint, dolores iure.
        Perferendis deserunt nam vero. Ullam molestias placeat quia rem itaque architecto cupiditate doloribus ab,
        sint praesentium nemo voluptatem odio veritatis esse facilis vitae maxime. Fugit ipsum temporibus
        perspiciatis alias debitis!
        Provident suscipit voluptatum sit tenetur dolorem quos fugit esse similique non deleniti ratione, fugiat
        doloribus corrupti odit perferendis minus, laborum illo at iure alias quod nam eos? Laboriosam, alias
        dolores!
        Exercitationem facilis adipisci illo inventore atque numquam asperiores molestiae! Quas aliquam, iste
        nesciunt atque enim nobis natus ducimus itaque eius facilis modi magni reiciendis temporibus veritatis fuga
        qui voluptate sunt!
        Maiores, omnis culpa pariatur possimus molestias mollitia tempora nemo, exercitationem odio laudantium est
        aliquid ea hic ut beatae soluta officia? Incidunt, debitis laboriosam? Impedit aut beatae error quo commodi
        facilis?
        Quo quod ex, iusto mollitia adipisci sint velit voluptatem vel! Modi, aspernatur unde? Iure fugiat dolores
        voluptates praesentium culpa, minima tempore ex similique eos et, molestiae eius non, saepe eaque.
        Iusto aspernatur saepe vero facere laudantium dolorum? Fuga a nam dolore provident qui iste quam eligendi
        vel vero illum corrupti facere necessitatibus, fugit ullam doloribus in dicta minus eum officiis.
        Porro expedita totam dolore tempora rem aut itaque amet nostrum soluta, suscipit asperiores dolor adipisci
        non iusto debitis nihil officiis excepturi. Molestiae perferendis cumque consequatur deleniti magni expedita
        distinctio blanditiis.
        Nihil, corrupti, odit magnam beatae doloribus enim atque similique praesentium facilis accusamus commodi.
        Atque debitis, necessitatibus numquam esse in fuga veritatis quos est, quisquam asperiores, sit nam expedita
        itaque quae.
        Ex doloribus corporis veritatis? Odit nam consequatur dolore labore saepe corporis recusandae, alias quas ea
        quia minus praesentium earum distinctio vel accusamus itaque quidem ullam similique sint! Ab, numquam cum.
        Dignissimos esse numquam nulla accusantium vel quisquam consequatur, porro delectus reprehenderit sapiente
        maxime magni exercitationem, vero ducimus non, quo vitae illum expedita est eos eum maiores dolores quasi!
        Minima, dignissimos.
        Illo dolorum repellat, expedita rem nisi suscipit cupiditate fugit voluptate quos, quod doloremque possimus
        quo. Quidem animi ipsa corporis architecto quibusdam laboriosam itaque eius sunt minima porro. Assumenda,
        alias minima.
        Iste voluptatum quos, temporibus asperiores non sequi suscipit, deserunt odio, blanditiis doloribus ratione
        itaque! Eos magnam ipsa velit hic harum maiores voluptatum dolorum eius ipsum repellat ratione, consectetur
        ex iusto.
        Dicta architecto unde eum autem iusto consectetur vitae saepe temporibus. Voluptatibus asperiores debitis
        minima quas cum necessitatibus amet vel dolore dolores atque. Animi optio nostrum vel ad quaerat obcaecati
        rerum!
        Dolore deserunt laborum dolores enim quis vel voluptatum iste pariatur repellat quam officiis, sunt fugit
        corrupti qui similique. Similique, voluptatem eaque quibusdam hic sapiente a assumenda quod tempore. Qui,
        itaque.
        Provident voluptas dolorem dolorum a quibusdam adipisci tenetur asperiores tempora, quas ab ratione quae
        magnam nisi odit, ad at sit accusamus aliquam animi amet! Voluptates obcaecati suscipit velit expedita
        excepturi.
        Eos, quibusdam nam ad aliquam reiciendis cumque ipsam numquam itaque cum dignissimos veritatis ducimus
        aperiam doloribus autem iste incidunt quod impedit ipsum magni mollitia perspiciatis assumenda, vitae
        consectetur! A, repellendus.
        Tempore voluptates odit voluptas esse nesciunt debitis hic pariatur velit repellat nam aut itaque ex iste
        omnis, reiciendis nostrum ut facere laudantium quia, vitae consequatur ea. Mollitia debitis esse odio.
        Quis ipsum blanditiis maxime, laboriosam quaerat fuga! Modi minima numquam, illo omnis eligendi cupiditate
        sed minus eum aliquid odio ea voluptates officia, aut nam iusto! Eligendi nemo velit distinctio iure.</p>
</div>
<section id="workstation" class="work section">
    <div class="container">
        <h2 class="title">Our workstations</h2>
        <div id="workstation-slider" class="owl-carousel">
            <div class="item">
                <div class="vira-card">
                    <div class="vira-card-header">
                        <img class="img-responsive" src="static/images/4.jpg">
                    </div>
                    <div class="vira-card-content">
                        <h3>Creative geeks</h3>
                        <p>
                            Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The
                            Garment Club met zichlaim meebrengt. Onze enige missiede
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="vira-card">
                    <div class="vira-card-header">
                        <img class="img-responsive" src="static/images/5.jpg">
                    </div>
                    <div class="vira-card-content">
                        <h3>Creative freaks</h3>
                        <p>
                            Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The
                            Garment Club met zichlaim meebrengt. Onze enige missiede
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="vira-card">
                    <div class="vira-card-header">
                        <img class="img-responsive" src="static/images/6.jpg">
                    </div>
                    <div class="vira-card-content">
                        <h3>Creative nerds</h3>
                        <p>
                            Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The
                            Garment Club met zichlaim meebrengt. Onze enige missiede
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="vira-card">
                    <div class="vira-card-header">
                        <img class="img-responsive" src="static/images/4.jpg">
                    </div>
                    <div class="vira-card-content">
                        <h3>Creative geeks</h3>
                        <p>
                            Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The
                            Garment Club met zichlaim meebrengt. Onze enige missiede
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="vira-card">
                    <div class="vira-card-header">
                        <img class="img-responsive" src="static/images/5.jpg">
                    </div>
                    <div class="vira-card-content">
                        <h3>Creative freaks</h3>
                        <p>
                            Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The
                            Garment Club met zichlaim meebrengt. Onze enige missiede
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="vira-card">
                    <div class="vira-card-header">
                        <img class="img-responsive" src="static/images/6.jpg">
                    </div>
                    <div class="vira-card-content">
                        <h3>Creative nerds</h3>
                        <p>
                            Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The
                            Garment Club met zichlaim meebrengt. Onze enige missiede
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="static/js/jquery-3.1.1.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/owl.carousel.min.js"></script>
<script src="https://use.fontawesome.com/55b73bf748.js"></script>
<script src="static/js/jquery.magnific-popup.js"></script>
<script src="static/js/script.js"></script>
</body>

</html>