<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/images/logo.png" />
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="static/css/owl.carousel.css" rel="stylesheet">
    <link href="static/css/owl.theme.default.min.css" rel="stylesheet">

    <link href="static/css/magnific-popup.css" rel="stylesheet">

    <link href="static/css/style.css" rel="stylesheet">
</head>

<body>
    <section id="workstation" class="work section">
        <div class="container">
            <h2 class="title">News</h2>
            <div id="workstation-slider" class="owl-carousel">
                <div class="item">
                    <div class="vira-card new-card">
                        <div class="vira-card-header">
                            <img class="img-responsive" src="static/images/4.jpg">
                        </div>
                        <div class="vira-card-content">
                            <h3>Creative geeks</h3>
                            <p>
                                Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The
                                Garment Club met zichlaim meebrengt. Onze enige missiede
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="vira-card new-card">
                        <div class="vira-card-header">
                            <img class="img-responsive" src="static/images/5.jpg">
                        </div>
                        <div class="vira-card-content">
                            <h3>Creative freaks</h3>
                            <p>
                                Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The
                                Garment Club met zichlaim meebrengt. Onze enige missiede
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="vira-card new-card">
                        <div class="vira-card-header">
                            <img class="img-responsive" src="static/images/6.jpg">
                        </div>
                        <div class="vira-card-content">
                            <h3>Creative nerds</h3>
                            <p>
                                Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The
                                Garment Club met zichlaim meebrengt. Onze enige missiede
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="vira-card new-card">
                        <div class="vira-card-header">
                            <img class="img-responsive" src="static/images/4.jpg">
                        </div>
                        <div class="vira-card-content">
                            <h3>Creative geeks</h3>
                            <p>
                                Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The
                                Garment Club met zichlaim meebrengt. Onze enige missiede
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="vira-card new-card">
                        <div class="vira-card-header">
                            <img class="img-responsive" src="static/images/5.jpg">
                        </div>
                        <div class="vira-card-content">
                            <h3>Creative freaks</h3>
                            <p>
                                Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The
                                Garment Club met zichlaim meebrengt. Onze enige missiede
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="vira-card new-card">
                        <div class="vira-card-header">
                            <img class="img-responsive" src="static/images/6.jpg">
                        </div>
                        <div class="vira-card-content">
                            <h3>Creative nerds</h3>
                            <p>
                                Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The
                                Garment Club met zichlaim meebrengt. Onze enige missiede
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="static/js/jquery-3.1.1.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="https://use.fontawesome.com/55b73bf748.js"></script>
    <script src="static/js/jquery.magnific-popup.js"></script>
    <script src="static/js/script.js"></script>
</body>

</html>