<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/images/logo.png" />

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="static/css/owl.carousel.css" rel="stylesheet">
    <link href="static/css/owl.theme.default.min.css" rel="stylesheet">

    <link href="static/css/magnific-popup.css" rel="stylesheet">

    <link href="static/css/style.css" rel="stylesheet">
</head>

<body>
    <section class="purpose section">
        <div class="container">
            <h2 class="title">Services</h2>
            <div class="row">
                <div class="col-sm-4">
                    <div class="vira-card">
                        <div class="vira-card-header">
                            <div class="card-icon">
                                <span class="fa fa-diamond" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="vira-card-content">
                            <h3>Юр услуга</h3>
                            <p>
                                Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The
                                Garment Club met zichlaim meebrengt. Onze enige missiede
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="vira-card">
                        <div class="vira-card-header">
                            <div class="card-icon">
                                <span class="fa fa-cogs" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="vira-card-content">
                            <h3>Услуга еще одна</h3>
                            <p>
                                Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The
                                Garment Club met zichlaim meebrengt. Onze enige missiede
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="vira-card">
                        <div class="vira-card-header">
                            <div class="card-icon">
                                <span class="fa fa-bicycle" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="vira-card-content">
                            <h3>Шелтер</h3>
                            <p>
                                Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The
                                Garment Club met zichlaim meebrengt. Onze enige missiede
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="static/js/jquery-3.1.1.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="https://use.fontawesome.com/55b73bf748.js"></script>
    <script src="static/js/jquery.magnific-popup.js"></script>
    <script src="static/js/script.js"></script>
</body>

</html>