<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/images/logo.png" />

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="static/css/owl.carousel.css" rel="stylesheet">
    <link href="static/css/owl.theme.default.min.css" rel="stylesheet">

    <link href="static/css/magnific-popup.css" rel="stylesheet">

    <link href="static/css/style.css" rel="stylesheet">
</head>

<body>
    <div style="
width:100%;
height:100%;
padding:50px;
display:flex;
flex-direction:column;
justify-content:space-around;
text-align:center;
background-color:white;
;">
        <h2 class="title">More</h2>
        <div style="display: flex;width:100%; padding:20px 0px;">
            <div style="display: flex; justify-content:center; align-items:center; text-align:center; width:50%;">
                <img src="./static/images/1.jpg" style="width: 500px; height:500px;" alt="wie">
            </div>
            <div
                style="display: flex; justify-content:center; align-items:center; text-align:center;width:50%;padding:0px 20px; ">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus aspernatur eum accusamus totam
                    excepturi ab dicta perferendis soluta aperiam, temporibus deleniti aliquam quisquam dolores! Quas
                    quos inventore aliquid accusamus numquam.
                    Molestias optio quibusdam ea quos provident quas, veniam placeat cumque tempora rerum dolor hic
                    ducimus deleniti. Cum dolor, quas, repellat quo sit debitis est perferendis dolores quis, ipsa qui
                    itaque!
                    Natus saepe similique optio qui labore ad. Fugit itaque molestias sint dolorem, obcaecati labore non
                    tempora repudiandae ex blanditiis aliquam similique eos ea? Iure, nesciunt. Dolor ab esse et
                    corporis?
                    Minima quisquam consequatur iste quidem rem dignissimos libero accusantium eligendi, possimus minus
                    reiciendis facere voluptates quaerat animi! Quaerat magni molestiae provident tempore adipisci.
                    Totam doloribus quam provident labore optio nemo.
                    Ea soluta voluptates minima consequuntur doloremque placeat nihil aperiam sed quia, omnis delectus
                    qui labore molestiae quaerat veritatis, eveniet consequatur ab dolores expedita ipsam accusamus
                    molestias ratione. Optio, asperiores nemo?
                    Explicabo earum officia, distinctio blanditiis ipsa iusto iste maxime soluta possimus amet obcaecati
                    eveniet aperiam unde? Eos quaerat a fugiat asperiores aliquam mollitia reprehenderit numquam
                    repellat, optio, dignissimos impedit non.
                    Cumque debitis quae aspernatur repellendus nobis fugit ad non optio at! Exercitationem ut ipsam ipsa
                    explicabo sint dolores asperiores ea eius nam, quibusdam fugiat, dolor vitae cumque repellat commodi
                    tempore.
                    Quod aliquam natus neque veniam tenetur in, esse possimus fuga enim! Quam, consequatur. Quisquam,
                    aliquid voluptas recusandae voluptatibus repellat incidunt quibusdam ipsa error adipisci eaque,
                    suscipit, minima vel eum temporibus.</p>
            </div>
        </div>
    </div>
</body>

</html>